/* GLOBAIS */

*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

section{
  display: flex;
  padding: 30px 18%;
  flex-direction: column;
}

body{
  -webkit-font-smoothing: antialiased !important;
}

.color-white{
  color: #FFFFFF;
}

.container-principal{
  background-image: url("../assets/images/Grupo\ 75.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.barra-vertical{
  height: 15px;
  border-right: solid 1px #FFFFFF;
  margin: 0 10px;
}

.barra-horizontal{
  width: 95px;
  border-bottom: solid 1px #E8A126;
  margin: 15px 0;
}

/* HEADER */

header{
  display: flex;
  justify-content: space-between;
}

header div{
  display: flex;
  align-items: center;
  justify-content: center;
}

header div figure img{
  height: 23px;
}

header div h1{
  font-size: 15px;
}

/* NAV */

ul{
  display: flex;
}

li{
  list-style: none;
  margin: 10px 0 10px 30px;
}

li a{
  text-decoration: none;
  font-size: 12px;
  color: #ACABA9;
}

li a:hover{
  transition: all 200ms;
  color: white;
}

/* DIV RESERVA */
.reserva{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 160px 0 200px 0;
}

.reserva div h3{
  font-size: 34px;
}

.reserva div h4{
  font-size: 24px;
  margin: 10px 0;
  font-weight: normal;
}

.formulario{
  background: #E8A126;
  margin: 15px 0;
  border-radius: 5px;
  width: 425px;
}

.formulario-nome{
  text-align: center;
  padding: 25px 50px;
  border-bottom: solid 1px #F1CA3F;
  color: #FFFFFF;
}

.formulario-nome p{
  font-size: 18px;
}

form{
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button{
  border-radius: 2px;
  width: 100%;
  padding: 10px 0;
  background: #DA0166;
  cursor: pointer;
  border: solid 1px transparent;
  font-weight: bold;
}

form button:hover, .button-reserve:hover{
  transition: all 200ms;
  border: solid 1px black;

  background: #FFFFFF;
  color: #DA0166;
}

.input-cards{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-card{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 2px;
  background: #FFFFFF;
  height: 35px;
}

.input-card i{
  color: gray;
  margin: 0 10px;
}

.date{
  color: gray;
  border-radius: 2px;
  height: 100%;
  max-width: 110px;
  min-width: 110px;
}

select.date{
  min-width: 110px;
}

/* PROMOÇÕES */

h2{
  color: #585858;
  font-size: 26px;
  font-weight: normal;
}

.cards-promotional{
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 60px 0;
  justify-content: center;
}

.button-reserve{
  width: 100%;
  background: #DA0166;
  color: #FFFFFF;
  display: block;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-weight: bold;
  margin-top: 25px;
  border: solid 1px transparent;
}

/* .button-reserve:hover{ */
/*  */
/* } */

.card-description{
  width: 230px;
  margin: 10px;
  padding: 20px;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #383838;
  color: #FFFFFF;
}

.card-description h3{
  font-size: 17px;
  margin: 10px 0;
}

.card-description p{
  font-size: 15px;
  line-height: 22px;
}

.card-infos{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-promotion{
  width: 230px;
  margin: 10px;
  border: solid 1px #e4e1e1;
  border-radius: 18px;
}

.card-promotion img{
  width: 100%;
}

.card-infos .card-title{
  color: #2D2D2D;
  font-weight: 600;
}

.card-period{
  color: #8B8B8B;
  font-size: 14px;
  margin: 5px 0;
}

hr{
  width: 100%;
  border-bottom: solid 1px #E5E5E5;
  margin: 10px 0;
}

.card-starting{
  color: #E8A126;
  font-weight: bold;
}

.card-price{
  color: #2D2D2D;
  font-size: 20px;
  font-weight: bold;
}

/* FOOTER */

footer{
  width: 100%;
  height: 80px;
  background: #E9E9E9;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer figure img{
  height: 20px;
}

/* MOBILE */

.bars{
  font-size: 30px;
  display: none;
  margin: 0 0 0 auto;
  background: transparent;
  color: white;
}

.hide{
  transition: all 200ms;
  opacity: 1;
  visibility: visible;
  height: auto;
  margin-top: 15px;
}

@media (max-width: 820px) { 

  nav{
    width: 100%;
  }
  
  ul{
    display: flex;
    justify-content: center;
  }

  li{
    margin: 10px;
    text-align: center;
  }


  header{
    flex-direction: column;
    align-items: center;
  }

  .buttons{
    transition: all 200ms;
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -15px;
  }

  .nameBars{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .bars{
    display: block;
  }
}

@media (max-width: 715px) { 
  .input-card{
    width: 100%;
    margin-bottom: 10px;
  }

  .card-description{
    width: 100%;
  }

  .card-promotion{
    width: 100%;
  }

  #date{
    max-width: 100%;
    width: 100%;
  }

  section{
    padding: 20px 5%;
  }
}
